
//* Styling the entire site *//

body
{
  background-color: black;

  font-family: Arial, sans-serif;

  text-align: center;

  color: white;
}

//* Styling perticular elements *//

li
{
  display: inline;
}
